DEBUG=false
SKIP_INTRO=false
UI_COLOR=cyan
TRADING_ENABLED=true
WRAP_UNWRAP_SOL=true
NODE_ENV=production
2yC39heuRyJzTBckobVdrLWfoycjTnkUqn6HueQgK4Moz6Ur9pPaUc9goBuH2EocRpdXND1WAwTbYDQitSp2zvit
DEFAULT_RPC=https://change-this-url-in-env
ALT_RPC_LIST=https://change-this-url-in-env.gov,https://change-alt-urls-in-env.com
